.man {
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 4rem;
  color: yellow;
}

.man[data-color="white"] { color: blueviolet }

.man.selected {
  box-shadow: yellow 0 0 11px 7px;
  animation: pulsate 2s ease-out infinite;
}

@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 7px 5px yellow; }
    50%  { box-shadow: 0 0 11px 7px yellow; }
    100% { box-shadow: 0 0 7px 5px yellow; }
}